<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body id="homePage">
  <%- include('partials/nav') %>
  <a href="/"><img src="../img/legeit-transparent.png" class="legeit" /></a>
  <h4 class="ml-3">Booking</h4>
  <hr style="width: 90%;" />
  <br />
  <% var slideImages = [{image: "../img/jaime1.jpeg", href: "https://booksy.com/en-us/instant-experiences/widget/38311?instant_experiences_enabled=true&ig_ix=true"}, {image: "../img/jaime2.jpeg", href: "https://booksy.com/en-us/instant-experiences/widget/38311?instant_experiences_enabled=true&ig_ix=true"}, {image: "../img/jaime3.jpeg", href: "https://booksy.com/en-us/instant-experiences/widget/38311?instant_experiences_enabled=true&ig_ix=true"}]; %>
  <%- include('partials/carousel', {slideImages: slideImages, carouselId: "bookingCarousel1"}) %>

  <br />
  <div class="ml-4 mr-4">
    <h5>
      <a href="https://www.instagram.com/jay.le_geit?igshid=1jmtrqpkt7h5n" class="btn btn-outline-dark"
        style="color: black;"><i>@Jay_Le.Geit</i></a>
    </h5>
    <p class="text-muted colorizer">
      Jay is a reputable Master Barber rooted in the heart of Yonkers. With 15 years in the game, it’s led him in
      becoming one of Yonkers finest. His consistency in detail, perfection in his craft and passion for the art makes
      booking him an experience worth the wait.
    </p>
  </div>
  <br />
  <hr style="width: 90%;" />
  <br />
  <br />

  <% var slideImages2 = [{image: "../img/flexed1.jpeg", href: "https://booksy.com/en-us/73981_flex-the-barber_barber-shop_30923_yonkers?_branch_match_id=769278439194428258https://booksy.com/en-us/instant-experiences/widget/38311?instant_experiences_enabled=true&ig_ix=true"}, {image: "../img/flexed2.jpeg", href: "https://booksy.com/en-us/73981_flex-the-barber_barber-shop_30923_yonkers?_branch_match_id=769278439194428258"}, {image: "../img/flexed3.jpeg", href: "https://booksy.com/en-us/73981_flex-the-barber_barber-shop_30923_yonkers?_branch_match_id=769278439194428258"}]; %>
  <%- include('partials/carousel', {slideImages: slideImages2, carouselId: "bookingCarousel2"}) %>

  <br />
  <div class="ml-4 mr-4">
    <h5>
      <a href="https://instagram.com/flexedcutz?igshid=x50njuj5lvme" class="btn btn-outline-dark"
        style="color: black;"><i>@FlexedCutz</i></a>
    </h5>
    <p class="text-muted colorizer">
      Felix is one of Yonkers well renown Master Barbers. Having been surrounded by some of Yonkers very best, he’s
      developed and perfected a style worth the experience. With great precision and love for his art, Felix is a barber
      you can trust.
    </p>
  </div>
  <br />
  <hr style="width: 90%;" />
  <br />
  <br />

  <% var slideImages3 = [{image: "../img/fabiel1.jpeg", href: "https://instagram.com/fabielmz?igshid=18hzwmqh1i92h"}, {image: "../img/fabiel2.jpeg", href: "https://instagram.com/fabielmz?igshid=18hzwmqh1i92h"}, {image: "../img/fabiel3.jpeg", href: "https://instagram.com/fabielmz?igshid=18hzwmqh1i92h"}]; %>
  <%- include('partials/carousel', {slideImages: slideImages3, carouselId: "bookingCarousel3"}) %>

  <br />
  <div class="ml-4 mr-4">
    <h5>
      <a href="https://instagram.com/flexedcutz?igshid=x50njuj5lvme" class="btn btn-outline-dark"
        style="color: black;"><i>@FlexedCutz</i></a>
    </h5>
    <p class="text-muted colorizer">
      Felix is one of Yonkers well renown Master Barbers. Having been surrounded by some of Yonkers very best, he’s
      developed and perfected a style worth the experience. With great precision and love for his art, Felix is a barber
      you can trust.
    </p>
  </div>

  <hr style="width: 50%; margin-top: 0px;" />

  <%- include('partials/footer') %>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>