<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body id="homePage">
  <% if(data.showModal) {%>
  <%- include('partials/modal') %>
  <script>
    showModal(
      `Thank you for your purchase. We will notify you as soon as your item has shipped.`);
  </script>
  <%}%>
  <%- include('partials/nav') %>
  <a href="/"><img src="../img/legeit-transparent.png" class="legeit" /></a>
  <br />

  <% var slideImages = [{image: "../img/homecarousel1.jpeg", href: "booking"}, {image: "../img/homecarousel2.jpeg", href: "booking", buttonColor: "black"}, {image: "../img/homecarousel3.jpeg", href: "products"}, {image: "../img/homecarousel4.jpeg", href: "products"}]; %>
  <%- include('partials/carousel', {slideImages: slideImages, carouselId: "indexCarousel"}) %>

  <!-- photos -->
  <% if(data.authenticated) {%>
  <%- include('partials/uploadForm') %>
  <hr />
  <%} else { %>
  <br />
  <%}%> <% if(files){ %>
  <h4 style="text-align: center; margin-top: 10px;">Featured Items</h4>
  <hr style="width: 50%; margin-top: 0px;" />
  <a class="btn btn-outline-dark ml-3 mb-2" href="products">Shop All</a>
  <div class="container">
    <div class="row">
      <% files.forEach(function(file) { %>
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a href="/product/<%= file.filename %>">
          <img class="img-fluid image-resize mb-1" src="image/<%= file.filename %>" alt="" />
        </a>
        <div class="portfolio-caption">
          <h4 class="homePageItemTitleFonts"><%= file.filename %></h4>
          <div class="row">
            <div class="col">
              <p>$ <%= file.price.toFixed(2) %></p>
            </div>
          </div>
        </div>
        <% if(data.authenticated){ %>
        <form method="POST" action="/images/<%= file.filename %>?_method=DELETE">
          <button class="btn btn-danger btn-block mt-4 mb-3 button-width">
            Delete
          </button>
        </form>
        <div>
          FeaturedOrderNumber:
          <input onchange="updateFeaturedOrder(this, '<%= file.filename %>')" value="<%= file.featuredOrderNumber %>"
            type="number" name="feauredOrder" id="order" class="form-control mb-3" />
        </div>
        <% } %>
      </div>
      <% }) %>
    </div>
  </div>
  <% } else { %>
  <p>No files to show</p>
  <% } %>
  <br />
  <hr style="width: 50%; margin-top: 0px;" />

  <%- include('partials/footer') %>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>