<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/nav') %>

  <a href="/"><img src="../img/legeit-transparent.png" class="legeit" /></a>

  <!-- photos -->
  <% if(data.authenticated) {%>
  <%- include('partials/uploadForm') %>
  <hr />
  <%} else { %> <%}%> <% if(files){ %>
  <div>
    <h4 class="ml-3">Clothing</h4>
    <hr style="width: 90%;" />
    <div class="container">
      <div class="row">
        <% files.forEach(function(file) { %> <% if(file.type ==
              "clothing") { %>
        <div class="col-md-3 col-sm-6 portfolio-item">
          <a href="/product/<%= file.filename %>">
            <img class="img-fluid image-resize mb-1" src="image/<%= file.filename %>" alt="" />
          </a>
          <div class="portfolio-caption">
            <h4 class="homePageItemTitleFonts"><%= file.filename %></h4>
            <div class="row">
              <div class="col">
                <p>$ <%= file.price %></p>
              </div>
            </div>
          </div>
          <% if(data.authenticated){ %>
          <form method="POST" action="/images/<%= file.filename %>?_method=DELETE">
            <button class="btn btn-danger btn-block mt-4 mb-3 button-width">
              Delete
            </button>
          </form>
          <div>
            Order number:
            <input onchange="updateOrder(this, '<%= file.filename %>')" value="<%= file.orderNumber %>" type="number"
              name="order" id="order" class="form-control mb-3" />
          </div>
          <% } %>
        </div>
        <% } %> <% }) %>
      </div>
    </div>
    <h4 class="ml-3">Barbering</h4>
    <hr style="width: 90%;" />
    <div class="container">
      <div class="row">
        <% files.forEach(function(file) { %> <% if(file.type ==
              "barbering") { %>
        <div class="col-md-3 col-sm-6 portfolio-item">
          <a href="/product/<%= file.filename %>">
            <img class="img-fluid image-resize mb-1" src="image/<%= file.filename %>" alt="" />
          </a>
          <div class="portfolio-caption">
            <h4 class="homePageItemTitleFonts"><%= file.filename %></h4>
            <div class="row">
              <div class="col">
                <p>$ <%= file.price %></p>
              </div>
            </div>
          </div>
          <% if(data.authenticated){ %>
          <form method="POST" action="/images/<%= file.filename %>?_method=DELETE">
            <button class="btn btn-danger btn-block mt-4 mb-3 button-width">
              Delete
            </button>
          </form>

          <div>
            OrderNumber:
            <input onchange="updateOrder(this, '<%= file.filename %>')" value="<%= file.orderNumber %>" type="number"
              name="order" id="order" class="form-control mb-3" />
          </div>
          <% } %>
        </div>
        <% } %> <% }) %>
      </div>
    </div>
  </div>
  <% } else { %>
  <p>No files to show</p>
  <% } %>
  <br />
  <hr style="width: 50%; margin-top: 0px;" />

  <%- include('partials/footer') %>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  </form>
  </div>
</body>

</html>