<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    img {
      width: 100%;
    }
  </style>
  <title>LeGeit</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/agency.min.css" rel="stylesheet">
  <link href="stylesheets/giostyles.css" rel="stylesheet">

  <script src="../customjs/globalscripts.js"></script>

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-dark fixed-top mt-4" id="mainNav">
    <div class="container">
      <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a> -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/products">shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="booking">Booking</a>
          </li>
          <% if(data.authenticated) {%>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/logout">logout</a>
          </li>
          <%}%>
        </ul>
      </div>
          <% if(data.cart && Object.keys(data.cart).length != 0) { %>
          <a href="updateCart" style="width: 10%;"><img src="../img/shopping-cart-outline-red.png"></i></a>

          <% } else {%>
          <a href="updateCart" style="width: 10%;"><img src="../img/shopping-cart-outline.png"></i></a>
          <% } %>
      </div>
  </nav>


  <a href="/"><img src="../img/legeit-transparent.png" class="legeit"></a>


  <!-- photos -->
  <% if(data.authenticated) {%>
  <div class="col-md-6 m-auto">
    <h1 class="text-center display-4 my-4">Upload a file</h1>
    <h1 id="uploadError"></h1>
    <form id="uploadForm">
      <div class="row">
        <div class="col">
          Name: <input type="text" name="name" id="name" class="form-control mb-3" />
        </div>
        <div class="col">
          Price: <input type="text" name="price" id="price" class="form-control mb-3" />
        </div>
      </div>
      Description: <input type="text" name="description" id="description" class="form-control mb-3" />
      <label for="type">Choose a type:</label>
      <select name="type" id="type" class="form-control mb-3">
        <option value="barbering">barbering</option>
        <option value="clothing">clothing</option>
      </select>
      <label for="featured">featured item:</label>
      <select name="featured" id="featured" class="form-control mb-3">
        <option value="true">yes</option>
        <option value="false">no</option>
      </select>
      <div class="row">
        <div class="col">
          xs: <input type="text" name="xs" id="xs" class="form-control mb-3" />
        </div>
        <div class="col">
          s: <input type="text" name="s" id="s" class="form-control mb-3" />
        </div>
        <div class="col">
          m: <input type="text" name="m" id="m" class="form-control mb-3" />
        </div>
        <div class="col">
          l: <input type="text" name="l" id="l" class="form-control mb-3" />
        </div>
        <div class="col">
          xl: <input type="text" name="xl" id="xl" class="form-control mb-3" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          30ml: <input type="text" name="ml30" id="ml30" class="form-control mb-3" />
        </div>
        <div class="col">
          50ml: <input type="text" name="ml50" id="ml50" class="form-control mb-3" />
        </div>
        <div class="col">
          100ml: <input type="text" name="ml100" id="ml100" class="form-control mb-3" />
        </div>
        <div class="col">
          250ml: <input type="text" name="ml250" id="ml250" class="form-control mb-3" />
        </div>
        <div class="col">
          100g: <input type="text" name="g100" id="g100" class="form-control mb-3" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          nonmetric count: <input type="text" name="wholecount" id="wholecount" class="form-control mb-3" />
        </div>
      </div>
      <div class="custom-file mb-3">
        <input type="file" name="file" id="file" class="custom-file-input" />
        <label for="file" class="custom-file-label">Choose File</label>
      </div>
    </form>
    <button onclick="sendPicture()" class="btn btn-danger btn-block">Upload</button>
  </div>
  <hr>
  <%} else { %>
  <%}%>
  <% if(files){ %>
  <div>
    <h4 class="ml-3">clothing</h4>
    <hr style="width: 90%;">
    <div class="container">
      <div class="row">
        <% files.forEach(function(file) { %>
        <% if(file.type == "clothing") { %>
        <div class="col-md-3 col-sm-6 portfolio-item">
          <a href="/product/<%= file.filename %>">
            <img class="img-fluid image-resize" src="image/<%= file.filename %>" alt="">
          </a>
          <div class="portfolio-caption">
            <h4><%= file.filename %></h4>
            <div class="row">
              <div class="col">
                <p>$ <%= file.price %></p>
              </div>
            </div>
          </div>
          <% if(data.authenticated){ %>
          <form method="POST" action="/files/<%= file.filename %>?_method=DELETE">
            <button class="btn btn-danger btn-block mt-4 mb-3 button-width">Delete</button>
          </form>
          <div>
            Order number: <input onchange="updateOrder(this, '<%= file.filename %>')" value="<%= file.orderNumber %>" type="number" name="order" id="order" class="form-control mb-3" />
          </div>
          <% } %>

        </div>
        <% } %>
        <% }) %>
      </div>
    </div>
    <h4 class="ml-3">barbering</h4>
    <hr style="width: 90%;">
    <div class="container">
      <div class="row">
        <% files.forEach(function(file) { %>
        <% if(file.type == "barbering") { %>
        <div class="col-md-3 col-sm-6 portfolio-item">
          <a href="/product/<%= file.filename %>">
            <img class="img-fluid image-resize" src="image/<%= file.filename %>" alt="">
          </a>
          <div class="portfolio-caption">
            <h4><%= file.filename %></h4>
            <div class="row">
              <div class="col">
                <p>$ <%= file.price %></p>
              </div>
            </div>
          </div>
          <% if(data.authenticated){ %>
          <form method="POST" action="/files/<%= file.filename %>?_method=DELETE">
            <button class="btn btn-danger btn-block mt-4 mb-3 button-width">Delete</button>
          </form>

          <div>
            OrderNumber: <input onchange="updateOrder(this, '<%= file.filename %>')" type="number" name="order" id="order"
              class="form-control mb-3" />
          </div>
          <% } %>

        </div>
        <% } %>
        <% }) %>
      </div>
    </div>
  </div>
  <% } else { %>
  <p>No files to show</p>
  <% } %>
  <br>

  <!-- Footer-->
  <footer class="footer py-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 text-lg-left"></div>
        <div class="col-lg-4 my-3 my-lg-0">
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a><a
            class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a><a
            class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>