<!DOCTYPE html>
<html lang="en">

<head>
    <base href="http://localhost:5000/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="stylesheets/indexstyles.css" rel="stylesheet">

    <script>
        function addToCart() {
            let xhr = new XMLHttpRequest();
            if (document.getElementById('addtocartbutt').innerText ==
                'add to cart') {
                // document.getElementById('addtocartbutt').innerHTML = '<button type="button" class="btn mb-2">In Cart</button>';
                document.getElementById('viewcartbutt').innerHTML = '<a href="updateCart/<%= file.filename %>"><button type="button" class="btn btn-outline-danger" id="addtocartbutt">view cart</button></a>';
                document.getElementById('checkoutbutt').innerHTML = '<button type="button" class="btn btn-outline-danger" id="checkoutbutt">checkout</button>';
                let dropDown = document.getElementById("sizing");
                let selectedSize = dropDown.options[dropDown.selectedIndex].value;
                let url = "/cart/" + document.getElementById('filename').innerText + "/" + selectedSize;
                xhr.open("POST", url);
                xhr.send();
            } else {
                // document.getElementById('addtocartbutt').innerHTML = '<button type="button" class="btn btn-outline-warning mb-2" onclick="addToCart();">add to cart</button>';
                document.getElementById('viewcartbutt').innerHTML = '';
                document.getElementById('checkoutbutt').innerHTML = '';
                let url = "/cart/" + document.getElementById('filename').innerText;;
                xhr.open("DELETE", url);
                xhr.send();
            }
        }

        function updateStock(count, itemName) {
            console.log(count.value);
            console.log(count.name);
            console.log(itemName);
            let xhr = new XMLHttpRequest();
            let url = "/updateCount/" + itemName + "/" + count.name + "/" + count.value;
            xhr.open("POST", url);
            xhr.send();
        }

        function updateFeatured(featured, itemName) {
            console.log(itemName);
            let xhr = new XMLHttpRequest();
            let url = "/updateFeatured/" + itemName + "/" + featured.value;
            xhr.open("POST", url);
            xhr.send();
        }

        function sendPicture(filename) {
            let xhr = new XMLHttpRequest();
            let uploadForm = document.getElementById('uploadForm');
            let form = new FormData(uploadForm);
            xhr.open("POST", "/uploadSecondaryPicture/" + filename + "secondary");
            xhr.send(form);
        }
    </script>

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-dark fixed-top mt-4" id="mainNav">
        <div class="container">
            <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a> -->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="products">shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger"
                            href="https://booksy.com/en-us/instant-experiences/widget/38311?instant_experiences_enabled=true&ig_ix=true">Booking</a>
                    </li>
                    <% if(data.authenticated) {%>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="logout">logout</a>
                    </li>
                    <%}%>
        </ul>
      </div>
      <% if(Object.keys(data.inCart).length != 0) { %>
                    <img src="../img/shopping-cart-outline-red.png" style="width: 10%;"></i>

                    <% } else {%>
                    <img src="../img/shopping-cart-outline.png" style="width: 10%;"></i>
                    <% } %>
            </div>
    </nav>
    <a href="/"><img src="../img/legeit-transparent.png" class="legeit"></a>
    <br>
    <br>
    <br>
    <br>
    <br>

    <% if(data.authenticated) {%>
    <div class="col-md-6 mb-4">
        <form id="uploadForm">
            <div class="col-md-6 m-auto">
                <div class="custom-file mb-3">
                    <input type="file" name="file" id="file" class="custom-file-input" />
                    <label for="file" class="custom-file-label">Secondary Pic</label>
                </div>
        </form>
        <button onclick="sendPicture('<%= file.filename%>')" class="btn btn-danger btn-block">Upload</button>
    </div>
    <label for="featured">featured item:</label>
    <select name="featured" id="featured" class="form-control mb-3"
        onchange="updateFeatured(this, '<%= file.filename %>')">
        <% if(file.featured) {%>
        <option value="true">yes</option>
        <option value="false">no</option>
        <% } else {%>
        <option value="false">no</option>
        <option value="true">yes</option>
        <%}%>
    </select>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">XS</th>
                <th scope="col">S</th>
                <th scope="col">M</th>
                <th scope="col">L</th>
                <th scope="col">XL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input onchange="updateStock(this, '<%= file.filename%>')" type="number" step="1" name="xs"
        value="<%= file.xs %>" class="count-input"></td>
        <td><input onchange="updateStock(this, '<%= file.filename%>')" type="number" step="1" name="s"
                value="<%= file.s %>" class="count-input"></td>
        <td><input onchange="updateStock(this, '<%= file.filename%>')" type="number" step="1" name="m"
                value="<%= file.m %>" class="count-input"></td>
        <td><input onchange="updateStock(this, '<%= file.filename%>')" type="number" step="1" name="l"
                value="<%= file.l %>" class="count-input"></td>
        <td><input onchange="updateStock(this, '<%= file.filename%>')" type="number" step="1" name="xl"
                value="<%= file.xl %>" class="count-input"></td>
        </tr>
        </tbody>
        <thead>
            <tr>
                <th scope="col">30ML</th>
                <th scope="col">50ML</th>
                <th scope="col">100ML</th>
                <th scope="col">250ML</th>
                <th scope="col">100G</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input onchange="updateStock(this, '<%= file.filename%>')" type="number" step="1" name="ml30"
                        value="<%= file.ml30 %>" class="count-input"></td>
                <td><input onchange="updateStock(this, '<%= file.filename%>')" type="number" step="1" name="ml50"
                        value="<%= file.ml50 %>" class="count-input"></td>
                <td><input onchange="updateStock(this, '<%= file.filename%>')" type="number" step="1" name="ml100"
                        value="<%= file.ml100 %>" class="count-input"></td>
                <td><input onchange="updateStock(this, '<%= file.filename%>')" type="number" step="1" name="ml250"
                        value="<%= file.ml250 %>" class="count-input"></td>
                <td><input onchange="updateStock(this, '<%= file.filename%>')" type="number" step="1" name="g100"
                        value="<%= file.g100 %>" class="count-input"></td>
            </tr>
        </tbody>
        </table>
        </div>
        <% }%>

        <!-- Picture -->
        <% if(file){ %>
        <% if(file.isImage) { %>
        <div class="mb-3">
            <a href="/product/<%= file.filename %>">
                <img class="img-fluid image-resize product-image rounded mx-auto d-block product-image"
                    src="../image/<%= file.filename %>" alt="">
            </a>
        </div>
        <% if(secondaryFiles.length == 0) { %>
            <% console.log(secondaryFiles) %>
        <div class="row">
            <img class="img-fluid image-resize product-image rounded mx-auto d-block product-image"
                src="../image/<%= file.filename %>secondary" alt="">
        </div>
    <% } %>
        <div class="portfolio-caption" style="margin-left: 19%;">
            <div class="row">
                <div class="col">
                    <p id="filename"><%= file.filename %></p>
                    <p><%= file.price %></p>
                    <p class="text-muted colorizer">
                        <%= file.description%></p>
                </div>
                <div class="col">
                    <!-- Display the expanded buttons if this item is already in cart otherwise display the regular view -->
                    <% if(data.inCart[file.filename + " (xs)"] || 
                data.inCart[file.filename + " (s)"] || 
                data.inCart[file.filename + " (m)"] || 
                data.inCart[file.filename + " (l)"] || 
                data.inCart[file.filename + " (xs)"]
                ) {%>
                    <div><button type="button" class="btn">In cart</button></div>
                    <% } %>
                    <select id="sizing" aria-labelledby="size-select" class="form-control mb-3">
                        <% if(file.xs) {%> <option value="xs">XS</option><% }%>
                        <% if(file.s) {%> <option value="s">S</option><% }%>
                        <% if(file.m) {%> <option value="m">M</option><% }%>
                        <% if(file.l) {%> <option value="l">L</option><% }%>
                        <% if(file.xl) {%> <option value="xl">XL</option><% }%>
                        <% if(file.ml30) {%> <option value="ml30">30ml</option><% }%>
                        <% if(file.ml50) {%> <option value="ml50">50ml</option><% }%>
                        <% if(file.ml100) {%> <option value="ml100">100ml</option><% }%>
                        <% if(file.ml250) {%> <option value="ml250">250ml</option><% }%>
                        <% if(file.g100) {%> <option value="g100">100g</option><% }%>
                    </select>
                    <div id="addtocartbutt"><button type="button" class="btn btn-outline-danger mb-2"
                            onclick="addToCart();">add to cart</button></div>
                    <% if(data.inCart[file.filename + " (xs)"] || 
                data.inCart[file.filename + " (s)"] || 
                data.inCart[file.filename + " (m)"] || 
                data.inCart[file.filename + " (l)"] || 
                data.inCart[file.filename + " (xs)"]
                ) {%>
                    <div id="viewcartbutt" class="mb-2"><a href="updateCart/<%= file.filename %>"><button type="button"
                                class="btn btn-outline-danger" id="addtocartbutt">view cart</button></a></div>
                    <div id="checkoutbutt"><button type="button" class="btn btn-outline-danger"
                            id="checkoutbutt">checkout</button></div>
                    <% } else {%>
                    <div id="viewcartbutt" class="mb-2"></div>
                    <div id="checkoutbutt"></div>
                    <% } %>
                </div>
            </div>
        </div>
        <% } else { %>
        <%= file.filename %>
        <% } %>
        <% } else { %>
        <p>Something went wrong</p>
        <% } %>

        <footer class="footer" style="margin-top: 22%;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left"></div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a><a
                            class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a><a
                            class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>



</html>