<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <div class="u-loading" id="spinner"></div>
    <%- include('partials/nav') %>
      <a href="/"><img src="../img/legeit-transparent.png" class="legeit" /></a>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Size</th>
            <th scope="col">Count</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <% if(data.cart) {%>
          <tbody>
            <% for (let [key, value] of Object.entries(data.cart)) {%>
              <tr>
                <td>
                  <%= key.replace('(wholecount)','')%>
                    <i class="fa fa-trash-o ml-2" style="font-size:24px"
                      onclick="updateCart({value: '0'}, '<%= key%>')"></i>
                </td>
                <td>
                  <%= value.size.replace('wholecount', '' )%>
                </td>
                <td>
                  <input type="number" step="1" value="<%= value.count %>" class="count-input"
                    onchange="updateCart(this, '<%= key%>')" />
                </td>
                <td>$<%= (value.price * value.count).toFixed(2) %>
                </td>
              </tr>
              <% } %>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Taxes</td>
                  <td>$<%= tax.toFixed(2)%>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Total</td>
                  <td>$<%= total.toFixed(2) %>
                  </td>
                </tr>
          </tbody>
          <%}%>
      </table>

      <%- include('partials/modal') %>
        <div id="checkoutbutt" style="text-align: center;">
          <script>
            function showCheckoutModal() {
              let cart = JSON.parse('<%- JSON.stringify(data.cart) %>');
              let items = [];
              let itemTotal = 0;
              for (const [key, val] of Object.entries(cart)) {
                itemTotal += round((+ val.price) * (+ val.count), 2);
                items.push({
                  name: val.originalName + " " + val.size,
                  quantity: val.count,
                  unit_amount: {
                    currency_code: "usd",
                    value: val.price
                  }
                })
              }

              showModal(
                `<div id="paypal-button-container" style="width: 80%; margin: auto;"></div>`);
              paypal.Buttons({
                style: {
                  size: 'responsive',
                },
                onClick: function (source) {
                  if (source.fundingSource != "card")
                    document.getElementById("spinner").style.display = "block";
                },
                createOrder: function (data, actions) {
                  // This function sets up the details of the transaction, including the amount and line item details.
                  return actions.order.create({
                    purchase_units: [
                      {
                        amount: {
                          value: (+ itemTotal.toFixed(2)) + (+ "<%= tax.toFixed(2) %>"),
                          breakdown: {
                            item_total: {
                              currency_code: "usd",
                              value: itemTotal.toFixed(2)
                            },
                            tax_total: {
                              currency_code: "usd",
                              value: "<%= tax.toFixed(2) %>"
                            }
                          }
                        },
                        description: "Le Geit Checkout",
                        items: items
                      }
                    ]
                  });
                },
                onApprove: function (data, actions) {
                  // This function captures the funds from the transaction.
                  return actions.order.capture().then(function (details) {
                    // This function shows a transaction success message to your buyer.
                    // alert('Transaction completed by ' + details.payer.name.given_name);
                    let url = "/successfulTransaction";
                    let xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function (res) {
                      if (res.currentTarget.status == 200) {
                        window.location.href = "/";
                      }
                    };
                    xhr.open("POST", url);
                    xhr.send();
                  });
                },
                onCancel: function () {

                  document.getElementById("spinner").style.display = "none";
                }
              }).render('#paypal-button-container');
              //This function displays Smart Payment Buttons on your web page.
              // This function displays Smart Payment Buttons on your web page.
            }
          </script>
          <a onclick="showCheckoutModal()"><button type="button" class="btn btn-outline-danger mt-3" id="checkoutbutt">
              checkout
            </button></a>
        </div>

        <hr style="width: 50%;" />
        <%- include('partials/footer') %>

          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
  </body>

</html>